<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Machine care</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <form id="machineForm">

        <label for="name">Name:</label>
        <input type="text" id="name" th:value="${machineName}">
        <input type="hidden" id="machineId" th:value="${machineId}">


        <label for="identificationNumber">Identification number:</label>
        <input type="text" id="identificationNumber" th:value="${identificationNumber}">


        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" th:value="${manufacturer}">


        <label for="type">Type:</label>
        <input type="text" id="type" th:value="${type}">

        <label for="model">Model:</label>
        <input type="text" id="model" th:value="${model}">

        <button type="submit">Register</button>

    </form>
</div>
<script th:src="@{/js/machine-add-or-edit.js}"></script>


</body>
</html>